*html {
  font-size: 62.5%;
}
*body {
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  background-image: linear-gradient(to top, grey 0%, blanchedalmond 100%);
}

/* #solicitadas .sombras{
    -webkit-caja-sombra: 6px 6px 7px 3px rgba(107,103,107,1);
-moz-caja-sombra: 6px 6px 7px 3px rgba(107,103,107,1);
sombra de caja: 6px 6px 7px 3px rgba(107,103,107,1);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}



/* Barra nav */
 
  
#navbar{
 
  animation-duration: 3s;
  animation-name: slidein;  
  
}



#navbar li a {
  color: black;
  padding: 10px;
  margin:10px;

 
  
}

#navbar a:hover{
  background-color: rgb(119, 118, 118);
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  transform: scale(1.2);
}

/* Imagen portada y su texto */

#intro {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(5,7,12,0.4), rgba(33, 34, 37, 0.4)), 
  url(../imagenes/cerradura\ portada.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  
   
}

 #intro .intro__title {
  font-family: "Alfa Slab One", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Roboto", sans-serif;
   font-size: 35px; }
   
   
   .intro__title .tituloPrincipal{
   color: rgb(245, 243, 243);
   font-family: fantasy;
   }

   #intro  .recomendaciones__titulo{
    color: #fff;
   }
/* TITULOS PRINCIPALES */






#recomendaciones .recomendaciones__titulo {
  margin-bottom: 50px;
  padding-bottom: 0px;

  color: white;
  text-align: center;
  padding: 35px;
  font-size: 30px;
  font-family: Sarabun;
  animation-duration: 3s;
  animation-name: slidein;
  
  
}

#solicitadas .titulotres .modelos {
  background: rgb(128, 101, 81);
  background: radial-gradient(
    circle,
    rgb(150, 144, 140) 0%,
    rgb(150, 144, 140) 14%,
    rgb(150, 144, 140) 14%,
    rgb(129, 127, 125) 56%,
    rgb(0, 0, 0) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  margin-top: 5px;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


#youtube .tituloYT {
  background: rgb(128, 101, 81);
  background: radial-gradient(
    circle,
    rgb(150, 144, 140) 0%,
    rgb(150, 144, 140) 14%,
    rgb(150, 144, 140) 14%,
    rgb(129, 127, 125) 56%,
    rgb(0, 0, 0) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: px 1px 1px 1px;
  margin-top: 5px;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* FIN TITULOS PRINCIPALES */
#intro .btnver a {
  position: relative;
  background-color: grey;
  color: blanchedalmond;
  padding: 15px 2rem;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 3rem;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 14rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (min-width: 768px) {
  .btnver {
    width: auto;
    text-align: center;
    justify-content: center;
  }
}
/* /efecto derecha a izq*  */
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media (min-width: 480px) {
  #intro .btnver a {
    width: auto;
    text-align: center;
    justify-content: center;
  }
}

.service {
  width: 100%;
}
#recomendaciones {
  display: flexbox;
  justify-content: center;
  margin-bottom: 10rem;
  margin-top: 7rem;
}

.imgpPuertasNegras{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;


}



@media (min-width: 901px) {
  .imgpPuertasNegras {
    grid-template-columns: 25% 25% 25%;
     column-gap: 10px;
     /* animation-duration: 3s;
     animation-name: slidein; */
  }
}
@media (max-width: 900px) {
  .imgpPuertasNegras {
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 3px;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-family: "Sarabun", sans-serif;
  

}

.videos {
 display: flex;
  overflow: hidden;
 gap: 10px;
}
.videos iframe {
  float: left;
}
@media (max-width: 900px) {
  .videos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    justify-items: center;
  }
}
.video1{
  max-width: 100%;
}





/* CATALOGO DE PRUBA  */
.catalogo__titulo{
  background-color: grey;
  color: white;
  padding: 2rem;
}

/* @media (min-width: 760px){
  .catalogo__titulo{
    font-size: 3rem;


  }
} */

  .grid-contenedor{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 3fr 3fr 3fr;
    gap: 10px ;
    padding: 10px;
    justify-content: center;
    align-content:center ;
    justify-items: center;
    align-items: center;

  }
  .grid-item{
    background-color: yellow;
    justify-items: center;
    align-items:center ;
  }
   
  /* medias quiari de la portada */
  
  @media (min-width: 940px){

    #intro .tituloPrincipal{
      text-align: center;
      font-size: 5rem;
      font:bold; 
    }
  }
  
  @media (max-width: 940px) {
    #header .header__menu li a{
      display: block;
      text-align: right;
      
    }
    #header .imagenLogo{

      height: 9rem;
      width: 9rem;
      
    }
     
    #intro .recomendaciones__titulo{
      text-align: center;

    }
    .btnver {
      text-align: center;
      margin-top: 5rem;
      
    }

  
  #solicitadas .img__solicitadas{
    width: 30rem;
    height: auto;
  }
  }
  
#footer .logof{
  width: 2rem;
  height: auto;
}

#footer .logos{
display: flex;
justify-content: center;

}
#footer .logo__footer .logo__tamaño{
  margin-left: 39.5rem;
  padding-bottom: 10px;
  width: 4rem;
  height: auto;

 
}
@media (max-width: 1300px){
  #footer .logo__footer .logo__tamaño{
    display: none;
  }
}

  /* pagina contacto */

 
 
 form{
  width: 500px; 
  margin: auto;
  background:rgb(128, 101, 81);
  background:radial-gradient(
    circle,
    rgb(150, 144, 140) 0%,
    rgb(150, 144, 140) 14%,
    rgb(150, 144, 140) 14%,
    rgb(129, 127, 125) 56%,
    rgb(0, 0, 0) 91%,
    rgba(0, 0, 0, 1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%vh;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  
 }
 
 .contactoTitulo{
  color:#fff ;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: monospace;
 }
.input_1, .text_area{
width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;
font-size: 17px;
border: none;
}

 
textarea{
min-height: 100px;
max-height: 200px;
max-width: 100%;

} 
 
 .botonEnviar{
  background: rgb(87, 85, 85);
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  color: #fff;

 }

 
 @media (max-width:480px){
  form{
    width: 100%;

  }
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* Barra nav */
 
  
#navbar{
 
  animation-duration: 3s;
  animation-name: slidein;  
  
}



#navbar li a {
  color: black;
  padding: 10px;
  margin:10px;

 
  
}

#navbar a:hover{
  background-color: rgb(119, 118, 118);
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  transform: scale(1.2);
}

